---
# Only the main Sass file needs front matter (the dashes are enough)
---


/* ==========================================================================
   Author's custom variables
   ========================================================================== */
$brand-primary:         #00cc99;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$gray-dark:             #333333;
$gray-lighter:          #dddddd;

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      #00cc99;
//** Link hover decoration.
$link-hover-decoration: underline;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.14)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.82)); // ~12px

$font-size-h1:            floor(($font-size-base * 2)); // ~32px
$font-size-h2:            floor(($font-size-base * 1.75)); // ~28px
$font-size-h3:            ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$font-family-sans-serif:  "Ubuntu", sans-serif;
$font-family-serif:       "Droid Serif", serif;
$font-family-base:        $font-family-sans-serif;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    300;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {font-size: $font-size-h1; font-weight: $headings-font-weight;}
h2 {font-size: $font-size-h2; font-weight: $headings-font-weight;}
h3 {font-size: $font-size-h3; font-weight: $headings-font-weight;}
h4 {font-size: $font-size-h4; font-weight: $headings-font-weight;}
h5 {font-size: $font-size-h5; font-weight: $headings-font-weight;}
h6 {font-size: $font-size-h6; font-weight: $headings-font-weight;}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;
  &:hover {
    color: $link-hover-color;
  }
}

/* ==========================================================================
   HEADER
   ========================================================================== */

header {
  background-color: $gray-dark;
  margin-bottom: 12px;
  h1 {
    float: left;
    position: relative;
    top: 22px;
    left: 4px;
    text-transform: uppercase;
    font-size: 26px;
    a {
      color: $gray-lighter;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $link-hover-color;
      }
    }
  }
  .imgContainer {
    padding: 16px 6px 6px;
    position: relative;
    bottom: 5px;
    float: left;
  }
  nav {
    margin-top: 6px;
    a {
      text-decoration: none;
      button {
        float: right;
      }
    }
    ul {
      list-style: none;
      clear: both;
      margin-top: 10px;
      float: right;
    }
    li {
      float: left;
      margin-right: 1px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      &.verticalDivider {
        border-right: 2px solid #eee;
        margin: 5px 6px 0;
        padding-top: 12px;
        &:last-child {
          display: none;
        }
      }
    }
    button {
      clear: left;
      margin-left: 6px;
    }
  }
}

table.prayerTimes, th, caption {
  text-align: center;
  color: $text-color;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  background-color: $gray-dark;
  margin-top: 12px;
  color: $gray-lighter;
  padding: 12px 0 2px 0;
  p {
    font-size: $font-size-small;
  }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    h1 {
      font-size: 22px;
    }
    .imgContainer {
      bottom: 0;
    }
    img {
      width: 62px;
    }
  }
}

@media (min-width: 728px) and (max-width: 991px) {
  header {
    .imgContainer {
      float: none;
      text-align: center;
      img {
        width: 62px;
      }
    }
    h1 {
      float: none;
      text-align: center;
      left: 0;
      top: 0;
      font-size: 24px;
      margin: 0;
    }
    nav {
      .btn {
        margin-bottom: 6px;
      }
      ul { 
        float: left;
        margin: -30px 98px;
      }
    }
  }
}

