<header role="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="imgContainer pull-left">
          <a href="/" title="Islamic Center of Emporia"><img src="/images/islamiccenterLogo.png" alt="Islamic Center Logo" width="92px"/></a>
        </div>
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </div>
      
      <nav class="col-xs-12 col-md-6">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QB6XD4BKEKS84"><button type="button" class="btn btn-primary btn-default pull-right">Make a Donation</button></a>

        <ul class="pull-right">
          {% for page in site.pages %}
            {% if page.title %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              <li class="verticalDivider"></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
