---
layout: default
---
<div class="col-xs-12 col-md-8">
  <h1 class="post-title">{{ page.title }}</h1>
  <article>
    {{ content }}
  </article>
</div>

<div class="col-xs-12 col-md-4">
  <table class="table prayerTimes">
    <caption><h3>Prayer Times</h3></caption>
    <thead>
      <tr>
        <th></th>
        <th>Fajr</th>
        <th>Dhuhr</th>
        <th>Asr</th>
        <th>Maghrib</th>
        <th>Isha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-bullhorn"><br/>Azan</i></td>
        <td>4:31AM</td>
        <td>1:29PM</td>
        <td>5:24PM</td>
        <td>8:53PM</td>
        <td>10:26PM</td>
      </tr>
      <tr>
        <td><i class="fa fa-street-view"><br/>Prayer</i></td>
        <td>5:15AM</td>
        <td>1:30PM</td>
        <td>5:30PM</td>
        <td>see azan time</td>
        <td>see azan time</td>
      </tr>
    </tbody>
  </table>
  <p class="text-center"><strong>Friday Prayer (Jumu'ah) is 12:15 p.m. to 12:45 p.m.</strong></p>
</div>
