---
layout: default
---

<div class="col-xs-12 col-md-8">
  <h2 class="post-title">{{ page.title }}</h2>
  <article>
    {{ content }}
  </article>
</div>

<div class="col-xs-12 col-md-4">
  <table class="table prayerTimes">
    <caption><h3>Prayer Times</h3></caption>
    <thead>
      <tr>
        <th></th>
        <th>Fajr</th>
        <th>Dhuhr</th>
        <th>Asr</th>
        <th>Maghrib</th>
        <th>Isha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-bullhorn"><br/>Azan</i></td>
        <td>4:44AM</td>
        <td>1:22PM</td>
        <td>5:15PM</td>
        <td>8:33PM</td>
        <td>10:00PM</td>
      </tr>
      <tr>
        <td><i class="fa fa-street-view"><br/>Prayer</i></td>
        <td>5:35AM</td>
        <td>1:45PM</td>
        <td>5:30PM</td>
        <td>10 mins after Azan Time</td>
        <td>10:15PM</td>
      </tr>
    </tbody>
  </table>
  <p class="text-center small"><strong>Friday Prayer (Jumu'ah) is 12:15 p.m. to 12:45 p.m.</strong></p>
  
  <hr/>
  
  <!-- 16:9 aspect ratio -->
  <p class="text-center small">The Islamic Center of Emporia strongly condemns ALL types of extremism, fanaticism, and violent acts. We join the Muslim scholars and other civic organizations such as CAIR and ISNA to refute any false claims used in the name of Islam to justify these acts.</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sjGjj6VSmSQ"></iframe>
  </div>
</div>
